.row{
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color:#FFD3B5	;
    padding-bottom: 30px;
    padding-top: 30px;
    justify-content: center;
    align-content: center;

}
.give-donation{
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0 12px;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    border: 1px solid #ccc;
}
input[type=text],[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }