
img{
    border-radius: 20px;
}


h1,h2,h3,p{
    text-align: center;
}

main article{
    border-radius: 20px;
}

main{
  padding: 50px;
  
}

.mapouter{
    border: blue;
    text-align: center;

}
